
#container-for-login{
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 30px;
    display: none;
}
input[type=submit]{
    font-size: 30px;
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}
#login{
    text-align: center;
}
input{
    width:100px;
    height:40px;
}